#welcome {
    text-align: center;
    padding-top: 100px;
}

#playground {
    padding: 20px;
}

.hidden {
    display: none;
}

table {
    float: left;
    margin: 0 50px 0 10px;
    border: solid 10px #555;
    border-spacing: 0;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

table tbody#field.won {
    background-color: #4F4;
}

table tbody#field.exploded {
    background-color: #F44;
}

table tbody#field tr td:nth-child(1) {
    border-left-width: 0;
}

table tbody#field td {
    border: dotted 1px #555;
    border-width: 1px 0 0 1px;
    width: 20px;
    height: 20px;
}

#field td.cell {
    background-repeat: no-repeat;
    background-size: cover;
}

#field td.default {
    background-color: #888;
}

#field td.opened {
    background-color: inherit;
}

#field td.flag {
    background-image: url(img/flag.png);
}

#field td.bomb {
    background-image: url(img/bomb.png);
}

#field td.discovered {
    background-size: 70% 70%;
    background-position: center center;
    background-color: inherit;
}
    
#field td.a1 {
    background-image: url(img/1.png);
}

#field td.a2 {
    background-image: url(img/2.png);
}

#field td.a3 {
    background-image: url(img/3.png);
}

#field td.a4 {
    background-image: url(img/4.png);
}

#field td.a5 {
    background-image: url(img/5.png);
}

#field td.a6 {
    background-image: url(img/6.png);
}

#field td.a7 {
    background-image: url(img/7.png);
}

#field td.a8 {
    background-image: url(img/8.png);
}
